MIT Imobilare presents 'A Troupe of Dancers'<br>
(Spring 2007 w/Stephen Steger and Yang Zhang): <a href="http://www.youtube.com/watch?v=3Hl0o5J7lc4">YouTube</a><br><br>
Pooface, A Daft Punk Tribute<br>
(Fall 2007 w/Stephen Steger and Sungmin Son): <a href="http://www.youtube.com/watch?v=xd9DvL2vNtI">YouTube</a><br><br>
Easy Break Oven, with Superheroes<br>
(Spring 2008 w/Stephen Steger): <a href="http://www.youtube.com/watch?v=pDwLRac9s9k">YouTube</a> <br><br>
Mulan, The Story<br>
(Fall 2008 w/Lynne Tye): <a href="http://www.youtube.com/watch?v=dkV0ae2oDfo">YouTube</a><br><br>
Funk Actually<br>
(Spring 2009 w/Mason Tang and John Lim): <a href="http://www.youtube.com/watch?v=aUGU-Fj6G34">YouTube</a> <br><br>
Imaginarium<br>
(Spring 2010 w/Ridonk): <a href="http://www.youtube.com/watch?v=4sZKD3t6lfU">YouTube</a><br><br>

