Breakonomics (Organizer) 2007-2009: 
<a href="http://www.youtube.com/results?search_query=breakonomics"> YouTube</a><br>
MIT-Harvard Battle: <a href="http://www.youtube.com/watch?v=QCLqRh3AVUE">YouTube</a><br>
Battle w/Curtis: <a href="http://www.facebook.com/video/video.php?v=1116355789272&subj=708336">Facebook</a><br>
Good Foot Crew @Freshest of All Time: <a href="http://www.facebook.com/video/video.php?v=555959091368&subj=708336">Facebook</a><br>
Ray@Mass Destruction: <a href="http://www.facebook.com/video/video.php?v=583402634362&subj=708336">Facebook</a><br>
MIT-Cornell Battle: <a href="http://www.youtube.com/watch?v=aE96p5cGRU4">YouTube</a><br>
MIT@Mass Destruction: <a href="http://www.youtube.com/watch?v=XO5IeJDekKU">YouTube</a><br>
MIT@Break House Jam <a href="http://www.youtube.com/watch?v=nBocVwG7iXU">YouTube</a><br>
MIT Ridonk @Roxy Battle: <a href="http://www.youtube.com/watch?v=V2s8-KYxWuE">YouTube</a><br>

