<a href="/img/projects/fuzhoufood.jpg"><img class="projectlogo" src="/img/projects/fuzhoufood-t.jpg" alt="fuzhoufood"></a>
<b>Fuzhou Food</b><br>
Fuzhou Food is a blog of recipes, assembled from family and friends from the Fuzhou, Fujian area of China.
One of the 8 culinary cuisines of China, Fujian food is light, soft, and flavorful, featuring
a wide range of seafood and soups.
<br>
<a href="https://www.fuzhoufood.com">https://www.fuzhoufood.com</a><br>

<hr />

<a href="https://github.com/ryscheng/kingdom"><img class="projectlogo" src="https://lh3.googleusercontent.com/igThvoKwToXtZOfTANWbgp2ZoLnPBV2KDt9oJuaK419yIHQIo24eIcsCbgWcnfwlFjs=w1000" alt="kingdom"></a>
<b>Kingdom</b><br>
Kingdom is an intelligent personal assistant, written to run locally on Node.js.
All plugins, including speech recognition, are run locally.
This way, you don't need to send your voice data to the cloud to get simple things done.
<br>
<a href="https://github.com/ryscheng/kingdom">GitHub</a><br>

<hr />

<a href="/img/projects/taketurns.png"><img class="projectlogo" src="/img/projects/taketurns.png" alt="taketurns"></a>
<b>Take Turns, Sally. WTF?</b><br>
Take Turns, Sally is a meeting queue system for speaking order. Everyone opens up the app from their computer/smartphone and joins a common room. Select 1 leader and begin queuing up to speak.
<br>
<a href="http://taketurns.sally.wtf">http://taketurns.sally.wtf</a><br>
<a href="https://github.com/ryscheng/taketurns">GitHub</a><br>

<hr />

<a href="/img/projects/filedrop.png"><img class="projectlogo" src="/img/projects/filedrop.png" alt="filedrop"></a>
<b>FileDrop</b><br>
File Drop lets you easily share files with your friends. Just drop the file into the page and your browser immediately become a server for that file. Share your unique URL to serve that file to friends directly in true P2P fashion.
<br>
<a href="http://filedrop.freedomjs.org">http://filedrop.freedomjs.org</a><br>
<a href="https://github.com/freedomjs/freedom/tree/master/demo/filedrop">GitHub</a><br>

<hr />

<a href="/img/projects/website.png"><img class="projectlogo" src="/img/projects/website.png" alt="website"></a>
<b>RaymondCheng.net Terminal</b><br>
In 2008, before the days of Google powered by knowledge graph and Mozilla Ubiquity,
I designed a website that reflected my favorite computing environment, a console interface.
RAy SHell = RASH. It's modular, simple, clean, requires no JavaScript, and certainly not for 
the faint-of-heart. Written entirely in server-side PHP. Discontinued as of 2013.<br>
<a href="https://github.com/ryscheng/raymondcheng.net-terminal">GitHub</a><br>

