<ul class="share-buttons">
  <!--Hacker News-->
  <li><a href="https://news.ycombinator.com/submitlink?u={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&t={{page.title|encodeURIComponent}}" title="Share on Hacker News" target="_blank"><img alt="Share on Hacker News" src="/img/ico/share/HackerNews.png"></a></li>
  <!--Reddit-->
  <li><a href="http://www.reddit.com/submit?url={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&title={{page.title|encodeURIComponent}}" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src="/img/ico/share/Reddit.svg"></a></li>
  <!--Twitter-->
  <li><a href="https://twitter.com/intent/tweet?url={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&text={{page.title|encodeURIComponent}}&via={{site.twitter_username}}" target="_blank" title="Tweet"><img alt="Tweet" src="/img/ico/share/Twitter.svg"></a></li>
  <!--Facebook-->
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&p[title]={{page.title|encodeURIComponent}}&t={{page.title|encodeURIComponent}}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/img/ico/share/Facebook.svg"></a></li>
  <!--LinkedIn-->
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&title={{page.title|encodeURIComponent}}&summary=&source={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="/img/ico/share/LinkedIn.svg"></a></li>
  <!--Pinterest-->
  <li><a href="http://pinterest.com/pin/create/button/?url={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&description={{page.title|encodeURIComponent}}&media=https://www.raymondcheng.net/img/pic/me.jpg" target="_blank" title="Pin it"><img alt="Pin it" src="/img/ico/share/Pinterest.svg"></a></li>
  <!--Tumblr-->
  <li><a href="http://www.tumblr.com/share?v=3&u={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&t={{page.title|encodeURIComponent}}&s={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}" target="_blank" title="Post to Tumblr"><img alt="Post to Tumblr" src="/img/ico/share/Tumblr.svg"></a></li>
  <!--Wordpress-->
  <li><a href="http://wordpress.com/press-this.php?u={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&t={{page.title|encodeURIComponent}}&s=" target="_blank" title="Publish on WordPress"><img alt="Publish on WordPress" src="/img/ico/share/Wordpress.svg"></a></li>
  <!--Pocket-->
  <li><a href="https://getpocket.com/save?url={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&title={{page.title|encodeURIComponent}}" target="_blank" title="Add to Pocket"><img alt="Add to Pocket" src="/img/ico/share/Pocket.svg"></a></li>
  <!--Pinboard-->
  <li><a href="https://pinboard.in/popup_login/?url={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}&title={{page.title|encodeURIComponent}}&description={{page.title|encodeURIComponent}}" target="_blank" title="Save to Pinboard"><img alt="Save to Pinboard" src="/img/ico/share/Pinboard.svg"></a></li>
  <!--Email-->
  <li><a href="mailto:?subject={{page.title|encodeURIComponent}}&body={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}" target="_blank" title="Send email"><img alt="Send email" src="/img/ico/share/Email.svg"></a></li>
</ul>

  <!--Google+-->
<!--
  <li><a href="https://plus.google.com/share?url={{site.url|encodeURIComponent}}{{page.url|encodeURIComponent}}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="/img/ico/share/Google+.svg"></a></li>
-->
