---
layout: default
title: Blog
permalink: /
---

<div class="row featurette">
  <!-- LEFT -->
  <div class="col-md-7">
    <div style="text-align:center;">
      {% include substack.html %}
    </div>

    <h1>Blog</h1>

    <!-- TABS NAV -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <!-- Newest -->
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="newest-tab" data-bs-toggle="tab" data-bs-target="#newest" type="button" role="tab" aria-controls="newest" aria-selected="true">newest</button>
      </li>

      <!-- PER TAG -->
      {% for tag in site.tags %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="{{ tag[0] }}-tab" data-bs-toggle="tab" data-bs-target="#{{ tag[0] }}" type="button" role="tab" aria-controls="{{ tag[0] }}" aria-selected="false">{{ tag[0] }}</button>
        </li>
      {% endfor %}


      <!-- PER CATEGORY -->
      {% for cat in site.categories %}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="{{ cat[0] }}-tab" data-bs-toggle="tab" data-bs-target="#{{ cat[0] }}" type="button" role="tab" aria-controls="{{ cat[0] }}" aria-selected="false">{{ cat[0] }}</button>
        </li>
      {% endfor %}
      
    </ul>

    <br />

    <!-- TABS CONTENT -->
    <div class="tab-content" id="myTabContent">

      <!-- Newest -->
      <div class="tab-pane fade show active" id="newest" role="tabpanel" aria-labelledby="newest-tab">
        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
              <p> {{ post.excerpt }} </p>
            </li>
          {% endfor %}
        </ul>
      </div>
      
      <!-- PER TAG -->
      {% for tag in site.tags %}
        <div class="tab-pane fade" id="{{ tag[0] }}" role="tabpanel" aria-labelledby="{{ tag[0] }}-tab">
        {% for post in tag[1] %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
              <p> {{ post.excerpt }} </p>
            </li>
          {% endfor %}
        </div>
      {% endfor %}

      <!-- PER CATEGORY -->
      {% for cat in site.categories %}
        <div class="tab-pane fade" id="{{ cat[0] }}" role="tabpanel" aria-labelledby="{{ cat[0] }}-tab">
        {% for post in cat[1] %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h5><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
            </li>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <br />

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div> <!-- column -->

  <!-- RIGHT -->
  <div class="col-md-5">
    {% for img in site.data.about.summary.images %}
      <a href="/about">
        <img class="featurette-image img-responsive" src="{{ img.src }}" alt="{{ img.alt }}">
      </a>
    {% endfor %}
    <div>
      <img height='50px' src='/img/emailaddr.jpg' alt='email' />
      <br />
      <p class="lead">
        Follow me on: <br />
      </p>
      <p>
        {% include social-long.html %}
      </p>
    </div>
    <div>
      <p class="lead">
        Jump to an About Me section:
      </p>
      <ul>
      {% for section in site.data.about.order.sections %}
        <li>
        <a href="/about#{{section}}">
          {{ site.data.about[section].title }}
        </a>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div> <!-- column -->
</div> <!-- row -->
<hr class="featurette-divider">
