<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/about/#research">Research</a></li>
        <li><a href="/about/#writer">Publications</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="http://www.google.com/recaptcha/mailhide/d?k=01J3mh8KN6Ooms129vMGl__A==&c=6ds0cmIxcYvjHxEv3OOonjCe8oQtT4i2gN0JoJbwueE=">
            <span class="glyphicon glyphicon-envelope"></span>
            Email Me
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

