<!-- RADIATUS -->
<a href="/img/projects/radiatus.png"><img class="projectlogo" src="/img/projects/radiatus.png" alt="radiatus.io"></a>
<b>Radiatus: Strong User Isolation for Scalable Web Applications</b><br>
<a href="https://netlab.cs.washington.edu">UW Networks Group</a> - 
<a href="http://wills.co.tt/">Will Scott</a>, 
<a href="http://research.microsoft.com/en-us/people/howell/">Jon Howell</a>, 
<a href="http://www.cs.washington.edu/people/faculty/arvind">Arvind Krishnamurthy</a>, 
<a href="http://www.cs.washington.edu/people/faculty/tom">Tom Anderson</a><br>
Radiatus is a decentralized web framework for designing more secure web apps.
In Radiatus, all application-specific computation running on the server is
executed within a sandbox with the privileges of the end-user.
By strongly isolating users we protect user data and service
availability from application vulnerabilities.<br>
More Info:<br> 
<a href="http://www.cs.washington.edu/education/grad/UW-CSE-13-11-01.PDF">PDF</a>,
<a href="https://dl.dropboxusercontent.com/u/16740992/papers/radiatus-tr.pdf">Backup PDF</a><br>
<a href="http://www.radiatus.io">Project Website</a><br>
<a href="https://github.com/freedomjs/radiatus">GitHub</a><br>
<br>

<!-- UPROXY -->
<a href="/img/projects/uproxy.png"><img class="projectlogo" src="/img/projects/uproxy.png" alt="uProxy"></a>
<b><!-- uProxy: --> Share Your Pathway to the Internet</b><br>
<a href="https://netlab.cs.washington.edu">UW Networks Group</a> and 
<a href="http://www.google.com/ideas/">Google Ideas</a><br>
uProxy is a browser extension that lets users share alternative more secure routes to the Internet. It's like a personalized VPN service that you set up for yourself and your friends. uProxy helps users protect each other from third parties who may try to watch, block, or redirect users’ Internet connections.<br>
<a href="https://www.uproxy.org">Project Website</a><br>
<a href="https://github.com/uProxy/uproxy">GitHub</a><br>
<br>

<!-- FREEDOM.JS -->
<a href="/img/projects/freedomjs.png"><img class="projectlogo" src="/img/projects/freedomjs.png" alt="freedom.js"></a>
<b><!-- freedom.js: --> a New Baseline for the Web</b><br>
<a href="https://netlab.cs.washington.edu">UW Networks Group</a> - 
<a href="http://wills.co.tt/">Will Scott</a>, 
<a href="http://www.cs.washington.edu/people/faculty/arvind">Arvind Krishnamurthy</a>, 
<a href="http://www.cs.washington.edu/people/faculty/tom">Tom Anderson</a><br>
freedom.js is a web framework for building peer-to-peer (P2P) web apps. Easily create social applications that work in modern web browsers, Chrome packaged apps, Firefox extensions, node.js, and native mobile apps. freedom.js apps are just JavaScript, so they can be distributed as packages on an app store or hosted on static web servers. We're bringing peer-to-peer back, baby. 
<br>
<a href="http://www.freedomjs.org">Project Website</a><br>
<a href="https://github.com/freedomjs/freedom">GitHub</a><br>
<br>

