
<b>Diamond: Automating Data Management and Storage for Wide-area Reactive Applications.</b><br>
<a href="https://syslab.cs.washington.edu/">UW Systems Lab</a> - 
<a href="http://irenezhang.net/">Irene Zhang</a>, 
<a href="https://homes.cs.washington.edu/~nl35/">Niel Lebeck</a>, 
<a href="https://homes.cs.washington.edu/~pfonseca/">Pedro Fonseca</a>, 
<a href="https://homes.cs.washington.edu/~bholt/">Brandon Holt</a>, 
<a href="https://www.cs.washington.edu/people/faculty/arvind">Arvind Krishnamurthy</a>, 
<a href="https://www.cs.washington.edu/people/faculty/levy">Hank Levy</a><br>
Diamond is a new data management system for wide-area, reactive applications. 
Reactive applications give users the illusion of continuous synchronization 
across mobile devices and the cloud server. Diamond simplifies this task by providing 
applications with persistent cloud storage, reliable synchronization between storage and mobile devices, 
and automated execution of application code in response to shared data updates.<br>
<a href="https://www.usenix.org/conference/osdi16">OSDI 2016</a><br>
<a href="TODO">PDF to appear soon</a>,
<a href="TODO">Slides</a>,
<a href="TODO">[BibTeX]</a><br>
<br>

<b>BladeDroid: User scripting on Android</b><br>
<a href="https://netlab.cs.washington.edu/">UW Networks Lab</a> - 
<a href="http://ravi.bhoraskar.com/">Ravi Bhoraskar</a>, 
<a href="https://homes.cs.washington.edu/~mernst/">Michael Ernst</a><br>
BladeDroid is a system enabling user customization of Android applications, 
using a novel combination of bytecode rewriting and dynamic class loading.
Similar to browser extensions, BladeDroid allows arbitrary customization
of Android apps, such as ad-blocking.<br>
<a href="http://acs.ict.ac.cn/apsys2014/">APSYS 2014</a><br>
<a href="/download/papers/bladedroid-apsys.pdf">PDF</a>,
<a href="/download/slides/2014-apsys-bladedroid/">Slides</a>,
<a href="/download/papers/bladedroid-apsys.bib">[BibTeX]</a><br>
<br>

<a href="/img/projects/unblock.png"><img class="projectlogo" src="/img/projects/unblock.png"></a>
<b>Unblock: Towards Blocking-Resistant Network Services</b><br>
<a href="https://netlab.cs.washington.edu/">UW Networks Group</a> - 
<a href="https://wills.co.tt/">Will Scott</a>, 
<a href="https://www.cs.washington.edu/people/faculty/arvind">Arvind Krishnamurthy</a>, 
<a href="https://www.cs.washington.edu/people/faculty/tom">Tom Anderson</a><br>
Unblock is a privacy preserving overlay network, constructed from an augmented social graph. By leveraging the unique properties of trusted social links, Unblock performs multi-path and multi-hop routing over the social network, providing better performance and routing around failures to support a web browsing workload. 
<br>
<a href="/download/papers/unblock-tr.pdf">Technical Report</a> (UW CSE) 
<a href="/download/papers/unblock-tr.bib">[BibTeX]</a><br>
<a href="http://unblock.cs.washington.edu/">Project Webpage</a> <br>
<br>

<b>SolocoRank: Social Signals for Local Search Quality</b><br>
<a href="http://www.google.com/">Google</a> - 
<a href="https://plus.google.com/113452163033876759172/posts">Michael Schueppert</a>, 
<a href="http://www.cs.columbia.edu/~hila/">Hila Becker</a>, 
<a href="https://plus.google.com/106472278506475084796/posts">Mayur Thakur</a><br>
SolocoRank is a new ranking algorithm that leverages social media to rank<br>
physical establishments such as restaurants and bars. <br>
<a href="/download/papers/solocorank-tr.pdf">Technical Report</a> (UW CSE) 
<a href="/download/papers/solocorank-tr.bib">[BibTeX]</a><br>
<br>

<b>Kineograph: Taking the Pulse of a Fast-Changing and Connected World</b><br>
<a href="http://research.microsoft.com/en-us/labs/asia/">Microsoft Research Asia</a>, <a href="http://research.microsoft.com/en-us/groups/sr/default.aspx">Systems Research Group</a> - <a href="http://research.microsoft.com/en-us/people/lidongz/">Lidong Zhou</a>, <a href="http://research.microsoft.com/en-us/people/fanyang/">Fan Yang</a><br>
Kineograph is a new graph computation engine, optimized for processing<br>
real-time social data. Our goal was to enable real-time applications<br>
(such as user ranking and approximate shortest paths), such that new data<br>
is reflected in the computed results within a couple minutes. <br>
<a href="http://research.microsoft.com/apps/pubs/?id=163832">Microsoft Research Project Page</a><br>
<a href="http://www1.unine.ch/eurosys2012/program/conference.html">Eurosys 2012</a><br>
<a href="/download/papers/kineograph-eurosys.pdf">PDF</a>,
<a href="/download/slides/2012-eurosys-kineograph.pptx">Slides</a>
<a href="/download/papers/kineograph-eurosys.bib">[BibTeX]</a><br>
<br>

<a href="/img/projects/whanausip.jpg"><img class="projectlogo" src="/img/projects/whanausip.jpg" alt="WhanauSIP"></a>
<b><!-- WhanauSIP: -->A Secure Peer-to-Peer Communications Platform</b><br>
<a href="http://www.csail.mit.edu/">MIT CSAIL</a>, <a href="http://pdos.csail.mit.edu/">PDOS</a> - <a href="http://pdos.csail.mit.edu/~kaashoek/">Prof. Kaashoek</a>, <a href="http://lesniewski.org/">Chris Lesniewski-Laas</a> <br>
WhanauSIP is a peer-to-peer VoIP communications platform that requires no centralized infrastructure.
Instead, it uses the
<a href="http://pdos.csail.mit.edu/papers/whanau-nsdi10-abstract.html">Whanau DHT</a> 
to provide a Sybil-proof rendezvous mechanism among users, securing the system from a variety of attacks.<br>
MIT Master's Thesis<br>
<a href="/download/papers/whanausip-thesis.pdf">PDF</a>
<a href="/download/papers/whanausip-thesis.bib">[BibTeX]</a><br>
<a href="https://github.com/ryscheng/WhanauSIP">Github</a><br>
<br>


<a href="/img/projects/solarprinter2.jpg"><img class="projectlogo" src="/img/projects/solarprinter2.jpg"></a>
<b>Solar Printer</b><br>
<a href="http://media.mit.edu/">MIT Media Lab</a>, <a href="http://tangible.media.mit.edu/">Tangible Media Group</a> - <a href="http://web.media.mit.edu/~fletcher/">Dr. Fletcher</a> <br>
The Solar Printer is an entirely self-sufficient printer system for the developing world. 
The system was designed to be low-powered and continuously operable using solar panels.
Instead of using ink, the printer magnified sunlight to burn characters into photochromic paper.<br>
<a href="http://web.media.mit.edu/~fletcher/notes/ecoprinter.html">Website</a><br>
<a href="https://www.youtube.com/watch?v=yzVeC9tzkVU">YouTube</a><br>
<br>

