<p class="lead">

Postdoctoral Researcher @<a href="{{ site.data.links.ucb.url }}">{{ site.data.links.ucb.name }}</a><br />
<a href="{{ site.data.links.ucb_cs.url }}">{{ site.data.links.ucb_cs.name }}</a><br />
<a href="{{ site.data.links.ucb_seclab.url }}">Security Research Lab</a>,
<a href="{{ site.data.links.ucb_riselab.url }}">{{ site.data.links.ucb_riselab.name }}</a>,
and <a href="{{ site.data.links.ucb_bairlab.url }}">{{ site.data.links.ucb_bairlab.name }}</a><br />
Advised by <a href="{{ site.data.links.dawn_song.url }}">{{ site.data.links.dawn_song.name }}</a><br />

<!--
PhD Student @<a href="{{ site.data.links.uw.url }}">{{ site.data.links.uw.name }}</a><br />
<a href="{{ site.data.links.uwcse.url }}">{{ site.data.links.uwcse.name }}</a><br />
<a href="{{ site.data.links.uwsyslab.url }}">Systems</a> and 
<a href="{{ site.data.links.uwnetlab.url }}">Networks</a> Lab<br />
Advised by <a href="{{ site.data.links.tom_anderson.url }}">{{ site.data.links.tom_anderson.name }}</a>
and <a href="{{ site.data.links.arvind_krishnamurthy.url }}">{{ site.data.links.arvind_krishnamurthy.name }}</a><br />
-->

Specialty in distributed systems, networks, security, privacy, web, Internet freedom, &amp; electrofunk.<br />

<a href="{{ site.data.publications.cv.paper[0].url }}"><span class='glyphicon glyphicon-book'></span> &nbsp;Check out my CV</a>, son.

</p>
