

<b>Cheng, R.</b>, Scott, W., Ellenbogen, P., Howell, J., Roesner, F., Krishnamurthy, A., and Anderson, T.<br>
<i>Radiatus: a Shared-Nothing Server-Side Web Architecture.</i><br>
ACM Symposium on Cloud Computing 
<a href="https://acmsocc.github.io/2016/">(SOCC)</a>. 2016.<br>
<a href="http://dl.acm.org/citation.cfm?id=2987571">PDF</a>,
<a href="/download/papers/radiatus-socc.pdf">Backup PDF</a><br>
<a href="/download/papers/radiatus-socc.bib">BibTeX</a><br>
<br>

Zhang, I., Lebeck, N., Fonseca, P., Holt, B., <b>Cheng, R.</b>, Norberg, A., Krishnamurthy, A., and Levy, H.<br>
<i>Diamond: Automating Data Management and Storage for Wide-area Reactive Applications.</i><br>
11th USENIX Symposium on Operating Systems 
<a href="https://www.usenix.org/conference/osdi16">(OSDI)</a>. 2016.<br>
<a href="TODO">PDF to appear soon</a><br>
<br>

Bhoraskar, R., Langenegger, D., He, P., <b>Cheng, R.</b>, Scott, W., and Ernst, M.<br>
<i>User scripting on Android using BladeDroid.</i><br>
The 5th ACM SIGOPS Asia-Pacific Workshop on Systems 
<a href="http://acs.ict.ac.cn/apsys2014/technical-program/">(APSYS)</a>. 2014.<br>
<a href="https://dl.acm.org/citation.cfm?id=2637228">PDF</a>,
<a href="/download/papers/bladedroid-apsys.pdf">Backup PDF</a><br>
<a href="/download/papers/bladedroid-apsys.bib">BibTeX</a><br>
<br>

Scott, W., <b>Cheng, R.</b>, Li, J., Krishnamurthy, A., and Anderson, T.<br>
<i>Blocking-Resistant Network Services using Unblock.</i><br>
<a href="https://norfolk.cs.washington.edu/htbin-post/unrestricted/tr/list.cgi?sortby=date">UW Technical Report.</a> 2014.<br>
<a href="https://www.cs.washington.edu/tr/2014/06/UW-CSE-14-06-01.pdf">PDF</a>,
<a href="/download/papers/unblock-tr.pdf">Backup PDF</a><br>
<a href="/download/papers/unblock-tr.bib">BibTeX</a><br>
<br>

<b>Cheng, R.</b>, Schueppert, M., Becker, H., and Thakur, M.<br>
<i>SolocoRank: Social Signals for Local Search Quality</i><br>
<a href="https://norfolk.cs.washington.edu/htbin-post/unrestricted/tr/list.cgi?sortby=date">UW Technical Report.</a> 2013.<br>
<a href="https://www.cs.washington.edu/tr/2013/11/UW-CSE-13-11-05.pdf">PDF</a>,
<a href="/download/papers/solocorank-tr.pdf">Backup PDF</a><br>
<a href="/download/papers/solocorank-tr.bib">BibTeX</a><br>
<br>

Scott, W., <b>Cheng, R.</b>, Krishnamurthy, A., and Anderson, T.<br>
<i>freedom.js: an Architecture for Serverless Web Applications</i><br>
<a href="https://norfolk.cs.washington.edu/htbin-post/unrestricted/tr/list.cgi?sortby=date">UW Technical Report.</a> 2013.<br>
<a href="https://www.cs.washington.edu/tr/2013/11/UW-CSE-13-05-03.pdf">PDF</a>,
<a href="/download/papers/freedom-tr.pdf">Backup PDF</a><br>
<a href="/download/papers/freedom-tr.bib">BibTeX</a><br>
<br>

<b>Cheng, R.</b>, Scott, W., Krishnamurthy, A., and Anderson, T. <br>
<i>FreeDOM: a New Baseline for the Web.</i><br>
The 11th ACM Workshop on Hot Topics in Networks 
<a href="http://conferences.sigcomm.org/hotnets/2012/program.shtml">(HotNets XI)</a>. 2012.<br>
<a href="https://dl.acm.org/citation.cfm?doid=2390231.2390252">PDF1</a>,
<a href="http://conferences.sigcomm.org/hotnets/2012/papers/hotnets12-final141.pdf">PDF2</a>,
<a href="/download/papers/freedom-hotnets.pdf">Backup PDF</a><br>
<a href="/download/papers/freedom-hotnets.bib">BibTeX</a><br>
<br>

<b>Cheng, R.</b>, Hong, Ji., Kyrola, A., Miao, Y., Weng, X., <br> 
Wu, M., Yang, F., Zhou, L., Zhao, F., and Chen, E. <br>
<i>Kineograph: Taking the Pulse of a Fast-Changing and Connected World.</i><br> 
Proceedings of the 7th ACM European Conference on Computer Systems
<a href="http://www1.unine.ch/eurosys2012/program/conference.html">(Eurosys)</a>. 2012. <br>
<a href="http://dl.acm.org/citation.cfm?doid=2168836.2168846">PDF</a>,
<a href="/download/papers/kineograph-eurosys.pdf">Backup PDF</a><br>
<a href="/download/papers/kineograph-eurosys.bib">BibTeX</a><br>
<br>

<b>Cheng, R. </b><br> 
<i>WhanauSIP - A Secure Peer-to-Peer Communications Platform.</i><br>
Advised by Frans Kaashoek. Massachusetts Institute of Technology <br>
M.Eng. thesis, August 2010.<br>
<a href="https://dspace.mit.edu/handle/1721.1/62637">PDF</a>,
<a href="/download/papers/whanausip-thesis.pdf">Backup PDF</a><br>
<a href="/download/papers/whanausip-thesis.bib">BibTeX</a><br>
<a href="https://github.com/ryscheng/WhanauSIP">GitHub</a><br>
<br>

