<b>uProxy: a Social Proxy for Your Browser</b><br>
Circumvention Tech Festival. Valencia, Spain. Mar 2015.<br>
TA3M. New York, NY. Nov 2014.<br>
RIPE69. London, UK. Nov 2014.<br>
<a href="https://ripe69.ripe.net/archives/video/189">Video</a><br>
<a href="https://ripe69.ripe.net/presentations/27-uProxy.pdf">Slides</a><br>
<br>
<b>User scripting on Android using BladeDroid</b><br>
APSYS 2014. Beijing, China. Jun 2014.<br>
Microsoft Research Asia. Beijing, China. Jun 2014.<br>
<a href="/download/slides/2014-apsys-bladedroid/index.html">Slides</a><br>
<br>
<b>uProxy: Crowdsourcing in the Face of Digital Repression</b><br>
Google Ideas Summit. New York, NY. Oct 2013<br>
<a href="http://www.youtube.com/watch?v=aGOXMRJWSeg">YouTube</a><br>
<br>
<b>FreeDOM: a New Baseline for the Web</b><br>
HotNets XI. Redmond, WA. Oct 2012.<br>
<a href="https://dl.dropboxusercontent.com/u/16740992/papers/2012-hotnets-cheng.pptx">PPTX Slides</a><br>
<br>
<b>Kineograph: Taking the Pulse of a Fast-Changing and Connected World</b><br>
Eurosys 2012. Bern, Switzerland. Apr 2012.<br>
Stanford Mobisocial Seminar. Palo Alto, CA. Apr 2012.<br>
Palantir. Palo Alto, CA. May 2012.<br>
<a href="https://dl.dropboxusercontent.com/u/16740992/papers/cheng-eurosys2012.pptx">PPTX Slides</a><br>
<br>
<b>Donor Appreciation Speech</b><br>
UW CSE Fellowship Luncheon. Seattle, WA. Apr 2012.


