---
layout: default
title: Blog
permalink: /blog/
---

<div class="row featurette">
  <!-- LEFT -->
  <div class="col-md-7">
    {% include duckduckgo.html %}
    <br>

    <h1 class="featurette-heading">Blog</h1>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p> {{ post.excerpt }} </p>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div> <!-- column -->

  <!-- RIGHT -->
  <div class="col-md-5">
    {% for img in site.data.about.summary.images %}
      <a href="/about">
        <img class="featurette-image img-responsive" src="{{ img.src }}" alt="{{ img.alt }}">
      </a>
    {% endfor %}
    <div>
      <p class="lead">
        {% for sub in site.data.about.summary.subtitles %}
          {{ sub }}
        {% endfor %}
      </p>
    </div>
    <div>
      <ul>
      {% for section in site.data.about.order.sections %}
        <li>
        <a href="/about#{{section}}">
          {{ site.data.about[section].title }}
        </a>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div> <!-- column -->
</div> <!-- row -->
<hr class="featurette-divider">
