---
layout: default
title: About
permalink: /about/
---

{% for feature_key in site.data.about.order.sections %}
{% assign feature = site.data.about[feature_key] %}
<div id="{{ feature_key }}" class="row featurette" name="{{ feature_key }}">

  <!-- LEFT IMAGE -->
  {% case forloop.index %}
  {% when 0 or 2 or 4 or 6 or 8 or 10 or 12 or 14 or 16 or 18 or 20 or 22 or 24 or 26 or 28 or 30%}
    <div class="col-md-5">
      {% for img in feature.images %}
      <img class="featurette-image img-responsive" src="{{ img.src }}" alt="{{ img.alt }}">
      {% endfor %}
    </div>
  {% endcase %}

  <!-- CONTENT -->
  <div class="col-md-7">
    <h2 class="featurette-heading">{{ feature.title }}</h2>
    <!-- SUBTITLES -->
    <div>
      <p>
        {% for sub in feature.subtitles %}
          {{ sub }}
        {% endfor %}
      </p>
    </div>
    <!-- DESCRIPTIONS -->
    <div>
      <p class="lead">
        {% for desc in feature.descriptions %}
          {{ desc }}
        {% endfor %}
      </p>
    </div>
    <!-- DESCRIPTIONMD -->
    <div>
      {% for desc in feature.descriptionmd %}
        {% markdown {{ desc }} %}
      {% endfor %}
    </div>
    <!-- DESCRIPTIONINCLUDE -->
    <div>
      <p class="lead">
      {% for desc in feature.descriptioninclude %}
        {% include {{ desc }} %}
      {% endfor %}
      </p>
    </div>
    <!-- QUOTES -->
    <div>
      {% for quote in feature.quotes %}
      <figure>
        <blockquote class="blockquote">
          <p class="mb-0">{{ quote.text }}</p>
        </blockquote>
        <figcaption class="blockquote-footer text-end">
          {{ quote.source }}
        </figcaption>
      </figure>
      {% endfor %}
    </div>
    <!-- ACCORDIANS -->
    <div class="accordion" id="{{feature_key}}-accordion">
      {% for acc in feature.accordians %}
      <!-- CARD -->
      <div class="accordion-item">
        
        <!-- CARD-HEADER -->
        <h5 class="accordion-header" id="{{feature_key}}-{{acc.ref}}-heading">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{feature_key}}-{{acc.ref}}" aria-expanded="false" aria-controls="{{feature_key}}-{{acc.ref}}">
            {{acc.title}}
          </button>
        </h5>

        <!-- CARD-BODY -->
        <div id="{{feature_key}}-{{acc.ref}}" class="accordion-collapse collapse" aria-labelledby="{{feature_key}}-{{acc.ref}}-heading" data-bs-parent="#{{feature_key}}-accordion">
          <div class="accordion-body">
            {% for t in acc.text %}
              {{ t }}
            {% endfor %}
            {% for i in acc.includemd %}
              {% markdown {{i}} %}
              <hr>
            {% endfor %}
            {% for i in acc.includes %}
              {% include {{i}} %}
            {% endfor %}
          </div>
        </div>
      </div>

      {% endfor %}
    </div> <!-- accordian -->
  </div> <!-- column -->

  <!-- RIGHT IMAGE -->
  {% case forloop.index %}
  {% when 1 or 3 or 5 or 7 or 9 or 11 or 13 or 15 or 17 or 19 or 21 or 23 or 25 or 27 or 29 or 31 %}
    <div class="col-md-5">
      {% for img in feature.images %}
      <img class="featurette-image img-responsive" src="{{ img.src }}" alt="{{ img.alt }}">
      {% endfor %}
    </div>
  {% endcase %}
</div> <!-- row -->
<hr class="featurette-divider">
{% endfor %}

<!-- {% include icon-github.html username="jekyll" %} / -->
